body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f5f5dc; /* Halvány krémes háttér az oldal teljes háttérhez */
    color: #333; /* Sötét szürke szöveg */
    text-align: center; /* Középre igazítás az oldal szövegéhez */
}

header {
    background: #f5deb3; /* Halvány barna háttér */
    color: #333; /* Sötét szürke szöveg */
    padding: 10px 0;
    text-align: center; /* Középre igazítás a fejléc szövegéhez */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; /* A fejléc mindig a többi elem felett legyen */
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Középre igazítás a navigációs menühöz */
    background: #d1e7dd; /* Világos zöld háttér */
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #333; /* Sötét szürke szöveg */
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px auto;
    background: #fff; /* Fehér háttér
